body {
    background-image:url(doom_eternal.jpg);
    background-repeat: no repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.formulario {

    margin-left: 200px;
    padding: 16px;
    margin-top: 200px;

}

.input {

   
    height:auto;
    width: 300px;
    border: 1px solid;
    border-radius: 25px;
    margin-top: 50px;
    text-align: center;
    color: rgb(230, 217, 217);
    padding: 30px;

}



